extends layout

block content
  h1 New Artist
  form(action="/create/artist", method="POST")
    label(for="name") Name
      input#name(type="text", name="name", required)
    button(type="submit") Submit